# Python artifacts
__pycache__/
*.pyc
*.pyo
*.pyd

# Environments
.env
.venv
env/
venv/
ENV/

# Data and Models (usually large, don't commit)
/data/
models/*.h5
models/*.keras
models/*.tflite
*.log
logs/

# IDEs
.vscode/
.idea/
*.swp

# Jupyter
.ipynb_checkpoints

# Input Data
ptb-xl-1.0.3
ptb-xl-1.0.3.zip
